/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar{
  border-radius: 180px;
  max-width: 150px;
  max-height: 150px;
  background-color:#7384bc;
}
h2{
  color: var(--ifm-color-primary);
}